/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

html {
  overflow-y: scroll;
  font-weight: 400;
  letter-spacing: 0.33px;
  line-height: 1.7;
  
  & p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  & a {
    @apply text-primary;
    text-decoration: none;
  }
}

$base-black: #2C2C31;

#app {
  font-family: 'Oxygen', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $base-black;
  @apply bg-grey-lightest;
  // color: config('colors.grey-darkest');

  & h1 {
    font-size: 2em;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: 0.01em;
    margin-bottom: 0.67em;
  }

  & h2 {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.01em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
  }

  & h3 {
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.01em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
  }

  & h4 {
    font-size: 1.15em;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.01em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
  }
}
#home {
  @apply bg-grey-lightest;

  & > img {
      object-fit: cover;
      min-height: 80vh;

      @media only screen and (min-width: config('screens.sm')) {
        min-height: 70vh;
      }
  }
}

.navbar-svg {
  @apply h-8 w-8 fill-current;
  
  &:hover {
    @apply text-grey-darker;
  }
}

.navbar-link {
  @apply inline text-black no-underline ml-4 py-1;

  &:hover {
    @apply text-primary;
  }
  &-current {
    box-shadow: 0 2px config('colors.primary');
  }
  &:focus {
    @apply outline-none;
  }
}

.navbar-dropdown {
  @apply flex block text-black no-underline border-t border-grey-lighter py-3;
  &-text {
    @apply text-black no-underline
  }

  &-current {
    @apply no-underline text-black;
    box-shadow: 0 2px config('colors.primary');
  }
  &:focus {
    @apply outline-none;
  }
}

.btn {
  @apply shadow text-white font-semibold py-2 px-4 rounded;

  &-disabled {
    @apply bg-grey;
  }
  &-primary {
    @apply bg-primary;
    &:hover {
      @apply bg-primary-light;
    }
    &:focus {
      @apply outline-none;
    }
  }
  &-secondary {
    @apply text-primary bg-transparent border border-primary;

    &:hover {
      @apply text-primary-light border-primary-light;
    }
    &:focus {
      @apply outline-none;
    }
  }
}

.alert {
  &-success {
    @apply bg-green-lightest border-green-light text-green-dark;
  }
  &-warning {
    @apply bg-yellow-lightest border-yellow-light text-yellow-dark;
  }
  &-danger {
    @apply bg-red-lightest border-red-light text-red-dark;
  }
}

.StripeElement {
	box-sizing: border-box;

	height: 40px;

	padding: 10px 12px;

	border: 1px solid transparent;
	border-radius: 4px;
	background-color: white;

	box-shadow: 0 1px 3px 0 #e6ebf1;
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
}

.StripeElement--focus {
	// box-shadow: 0 1px 3px 0 config('colors.primary');
	box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
	border-color: border-red-light;
	// border-color: #fa755a;
}

.StripeElement--webkit-autofill {
	background-color: #fefde5 !important;
}

#faq {
  & ul {
    list-style-type: none;
    padding: 0 0 0 0;
    // padding: 1rem 0 0 0;
    & li {
      padding: 0.25rem 0 0 0;
    }
  }
}

#terms-of-service {
  & h2 {
    @apply my-4
  }
  & p {
    @apply my-2
  }
}

#privacy-policy {
  & h2 {
    @apply my-4
  }
  & h3 {
    @apply my-3
  }
  & h4 {
    @apply my-3
  }
  & p {
    @apply my-2
  }
}

#footer {
  & h2 {
    padding: 0 0 0.5rem 0;
    @apply font-normal;
  }
  & ul {
    list-style-type: none;
    padding: 0 0 0 0;
    // padding: 1rem 0 0 0;
    & li {
      padding: 0.25rem 0 0 0;
      & a {
        color: $base-black;
        text-decoration: none;
      }
    }
  }
}

/* transitions */
// .transition-menu-drop {
//   transition: height 5s ease-in-out;
// }

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 200ms ease;
  // transition: all 1s cubic-bezier(0, 1, 0, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  max-height: 0;
  opacity: 0;
}

.slide-fade-enter-to,
.slide-fade-leave {
  max-height: 400px;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon{
  width: 1em;
  height: 1em;

  path,
  polygon,
  rect{
    fill: $base-black;
  }

  circle{
    stroke: $base-black;
    stroke-width: 1;
  }
}

/* CSS Loaders */
// @import "@/assets/scss/ball-clip-rotate";
// @import "ball-clip-rotate";

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
